NETDISK_PORT=7090
SPRING_PROFILES_ACTIVE=dev
NETDISK_STORAGE=./data/
NETDISK_DB_URL=jdbc:mysql://127.0.0.1:3306/netdisk?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
NETDISK_DB_USER=netdisk
NETDISK_DB_PASSWORD=
NETDISK_REDIS_HOST=127.0.0.1
NETDISK_REDIS_PORT=6379
NETDISK_REDIS_DB=0
NETDISK_MAIL_HOST=smtp.qq.com
NETDISK_MAIL_PORT=465
NETDISK_MAIL_USER=
NETDISK_MAIL_PASSWORD=
NETDISK_ADMIN_EMAILS=
NETDISK_ALLOWED_ORIGINS=
NETDISK_COOKIE_SECURE=false
NETDISK_QQ_APP_ID=
NETDISK_QQ_APP_KEY=
NETDISK_QQ_REDIRECT=
